
html,body 
{
    margin:0;
    padding:0;
}

a 
{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-bottom:4px;
}

#header
{
    position:absolute;
    width: 76vw;
    height: calc(5vw + 40px);
    margin-left:4vw;
}

#imageheader
{
    position:absolute;
    margin-left: 80vw;
    width:16vw;
    height: calc(5vw + 40px);
}

#header .header
{
    vertical-align: middle;
    line-height: calc(5vw + 40px);
    font-weight: 200;
    font-size: 17px;
    margin-right:1.3vw;
}

#header #SanKimheader
{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding-right:2.1vw;
    line-height: 40px;
}

#facebook_head
{
    position: absolute;
    height:30px;
    width:30px;
    margin-top: calc(2.5vw + 5px);
    margin-left: calc(16vw - 30px);
}

#instagram_head
{
    position: absolute;
    height:17px;
    width:17px;
    margin-top: calc(2.5vw + 11.5px);
    margin-left: calc(16vw - 65px);
}


#content 
{
    position:absolute;
    margin-left:4vw;
    width: 92vw;
    margin-top: calc(5vw + 60px);
    height: 100vh;
}

#faceimagediv
{
    margin-top: 5.7vw;
    position:absolute;
    overflow: hidden;
}

#faceimagediv img
{
    width: 64.4vw;
    border-radius: 20px;
}

#aboutmediv
{
    position:absolute;
    background-color:#00BFFF;
    width: 41.5vw;
    height: 363px;
    margin-top: 10.3vw;
    margin-left: 50.5vw;
    border-radius: 20px;
}

@media (max-width: 900px) 
{
    #faceimagediv img
    {
        width: 80vw;
    }
    #aboutmediv
    {
        position:absolute;
        width: 60vw;
        height: 363px;
        margin-top: 50.3vw;
        margin-left: 30.5vw;
    }
}
@media (max-width: 609px) 
{
    #faceimagediv img
    {
        width: 92vw;
    }
    #aboutmediv
    {
        position:absolute;
        width: 80vw;
        height: 360px;
        margin-top: 65vw;
        margin-left: 6vw;
    }
    #content{
        margin-top: calc(5vw + 100px);
    }
}

#abouttext
{
    width: calc(100% - 10vw);
    height: calc(100% - 10vw);
    margin-left: 5vw;
    margin-top: 5vw;
}

#aboutmep1
{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
}

#aboutmep
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: white;
}

#footer
{
    position:absolute;
    margin-top:calc(100vh + 17.5vw);
    margin-bottom: 40px;
    width: 76vw;
    height: calc(5vw + 40px);
    margin-left:4vw;
    line-height: calc(5vw + 40px);
}

#SanKimfooter
{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 27px;
}

#imagefooter
{
    position:absolute;
    margin-top:calc(100vh + 17.5vw);
    margin-bottom: 40px;
    margin-left: 80vw;
    width:16vw;
    height: calc(5vw + 40px);
}

button:focus {
  outline: none;
}



/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  padding: 0px;
  border: none;
    
    display: block;
    cursor: pointer; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: calc(8.1vw + 130px);
  margin-top: calc(2.5vw + 2px);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 10px 0px rgba(255,255,255,0.7);
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
}

 .dropdown:hover .dropdown-content {display: block;} 

.dropcheck {
    position: absolute;
    left: -9999px;
}

.dropcheck:checked ~ .dropdown-content {
  display: block;
}



#dropdownmenu
{
    display:none;
}

/* if small media width */
@media (max-width: 810px) {
  .subpage { display: none; }
  #SanKimheader{ 
      vertical-align: middle;
      line-height: calc(5vw + 40px) !important;
    }
  #dropdownmenu { display: inline-block; }
}

/* if small media width */
@media (max-width: 280px) {
    #imageheader {
        display: none;
    }
    #SanKimheader{
        font-size: 25px !important;
    }
}


@media (max-width: 1000px) {
    #header {
        height : 120px !important;
        line-height: 120px;
    }
    #facebook_head{
        margin-top: 45px;
    }
    #instagram_head{
        margin-top: 51px;
    }
    .dropdown {
        margin-top: 43px;
    }
    #mygallery{
        margin-top: 120px;
    }

}

/* if small media width */
@media (max-width: 190px) {
    .dropdown {
      margin-left: calc(100vw - 50px);
      margin-top: calc(2.5vw + 2px);
    }
}


.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: '↑';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: black;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 0;
}
.progress-wrap::before {
  position: absolute;
  content: '↑';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path { 
  fill: none; 
}
.progress-wrap svg.progress-circle path {
  stroke: #ecedf3;
  stroke-width: 4;
  box-sizing:border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}